
.custom-input {
    width: 40px; /* Ajusta el ancho como desees */
    height: 20px;
}

.bibliotecatitulo {
    color: black;
    font-size: 35px;
    font-family: Verdana;
    font-weight: bold;
    display: inline-block;
    width: 60%;
    padding-top: 50px;

}
.search-results-container1 {
    max-height: 660px;
    max-width: 3000px;
    overflow-y: auto;
    margin-top: 5px;
    overflow-x: hidden;
}

.check-container {
    position: absolute;
    margin-left: 150px;
    margin-top: 100px;
    top: 0;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 5;
    width: 900px;
    height: auto;
    display: none;
}

.checkbox-wrapper-18 .round {
    position: relative;
}

.checkbox-wrapper-18 .round label {
    background-color: #fff;
    border: 1px solid #1c2858;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    width: 28px;
    display: block;
}

.checkbox-wrapper-18 .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 8px;
    opacity: 0;
    position: absolute;
    top: 9px;
    transform: rotate(-45deg);
    width: 12px;
}

.checkbox-wrapper-18 .round input[type="checkbox"] {
    visibility: hidden;
    display: none;
    opacity: 0;
}

.checkbox-wrapper-18 .round input[type="checkbox"]:checked + label {
    background-color: #cdab68;
    border-color: #cdab68;
}

.checkbox-wrapper-18 .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.descripcion {
    max-height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
}

.semaforoModal2 {
    display: block;
    background-color: #ffffff;
    width: 42px;
    height: 25px;
    margin-bottom: 55px;
    margin-right: 8px;
    border-radius: 100px;
}

.semaforoModal2 > input {
    appearance: none;
    user-select: none;
    outline: none;
    width: 10px;
    height: 10px;
    margin-left: 9px !important;
    border-radius: 100%;
}

input.AltaModal2 {
    background-color: #c9c9c9;
    box-shadow: 0em 0px 0px 5px #c9c9c9;
}

input.AltaModal2:hover {
    background-color: #fc625d;
    box-shadow: 0em 0px 0px 5px #fc625d;
}

input.AltaModal2:checked {
    background-color: #fc625d;
    box-shadow: 0em 0px 0px 5px #fc625d;
}

input.MediaModal2 {
    background-color: #c9c9c9;
    box-shadow: 0em 0px 0px 5px #c9c9c9;
}

input.MediaModal2:hover {
    background-color: #ffe200;
    box-shadow: 0em 0px 0px 5px #ffe200;
}

input.MediaModal2:checked {
    background-color: #ffe200;
    box-shadow: 0em 0px 0px 5px #ffe200;
}

input.BajaModal2 {
    background-color: #c9c9c9;
    box-shadow: 0em 0px 0px 5px #c9c9c9;
}

input.BajaModal2:hover {
    background-color: #24d73e;
    box-shadow: 0em 0px 0px 5px #24d73e;
}

input.BajaModal2:checked {
    background-color: #34cb4a;
    box-shadow: 0em 0px 0px 5px #34cb4a;
}

.custom-select-sm {
    padding: 0.25rem 0.5rem; /* Ajusta el relleno para hacerlo mÃ¡s pequeÃ±o */
    font-size: 0.875rem; /* Reduce el tamaÃ±o de la fuente */
    padding-left: 20px;
}

.form-select option:checked {
    background-color: #007bff; /* Cambia el color de fondo segÃºn tus preferencias */
    color: #fff; /* Cambia el color del texto segÃºn tus preferencias */
}

.custom-modal-width {
    max-width: 600px;
    width: 100%;
}

.input-wrapper {
    max-width: 80%; /* Ajusta el valor segÃºn el ancho deseado */
    margin: 0 auto; /* Para centrar horizontalmente el campo de entrada dentro del div */
    display: inline-block;
}

.small-input {
    font-size: 14px; /* TamaÃ±o de fuente mÃ¡s pequeÃ±o */
    padding: 5px 10px; /* Espaciado mÃ¡s pequeÃ±o */
}

.imagenes {
    display: inline-block;
    width: 270px;
    height: 190px;
}

select {; /* Ancho personalizado */
    padding: 10px; /* Espaciado interior */
    border: 1px solid #000000; /* Borde personalizado */
    border-radius: 4px; /* Esquinas redondeadas */
    font-size: 30px; /* TamaÃ±o de fuente personalizado */
    background-color: white; /* Fondo blanco */
    display: block;
}

.borrar-container {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.daterangepicker {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Etiquetas de inicio y fin */
.daterangepicker .daterangepicker_start_label,
.daterangepicker .daterangepicker_end_label {
    color: #333333;
    font-size: 14px;
}

.daterangepicker .applyBtn {
    background-color: #1c2858;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.daterangepicker .applyBtn:hover {
    background-color: #1c2858;
}

.daterangepicker .applyBtn:disabled {
    background-color: #cccccc;
    color: #1c2858;
}

.daterangepicker .cancelBtn:disabled {
    background-color: #cccccc;
    color: #cdab68;
}

.daterangepicker td.available {
    font-size: 14px;
}

.daterangepicker th,
.daterangepicker td {
    font-size: 14px;
}

.daterangepicker .cancelBtn {
    background-color: #cdab68;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.daterangepicker .cancelBtn:hover {
    background-color: #cdab68;
}

.daterangepicker td.active,
.daterangepicker td.active:hover,
.daterangepicker td.active.active,
.daterangepicker td.active.active:hover {
    background-color: #1c2858;
    color: #ffffff;
}

.required-field-error {
    border-bottom: 2px solid red; /* Agrega una lÃ­nea roja debajo del campo vacÃ­o */
}

.text-section-Biblioteca {
    max-width: 95%;
}

.pillBiblioteca {
    color: #fff;
    border-radius: 20px;
    padding: 3px 10px;
    cursor: pointer;
}

#tiempoSeleccionado {
    display: inline-block;
    margin-left: 20px;
}

.btn.btn-custom-outline-success3 {
    color: #ffffff;
    background-color: #cdab68;
    border-color: #cdab68;
    width: 90px;
    margin-right: 15px
}

.btn.btn-custom-outline-success3:hover {
    color: #ffffff;
    background-color: #cdab68;
    border-color: #cdab68;
    font-weight: bold;
    width: 100px;
    margin-right: 5px;
}

.btn.btn-custom-outline-success4 {
    color: #ffffff;
    background-color: #1c2858;
    border-color: #1c2858;
    width: 105px;
}

.btn.btn-custom-outline-success4:hover {
    color: #ffffff;
    background-color: #1c2858;
    border-color: #1c2858;
    font-weight: bold;
    width: 115px;
}
@media (max-width: 1416px) {

    .check-container {
        margin-left: 190px !important;
    }
}

@media (max-width: 1322px) {
    .check-container {
        transform: translate(3.5%, -100%) scale(1.2) !important;
    }

    #selectDiv{
        width: 160px !important;
    }
}

@media (max-width: 395px) {
    .search-results-container1 {
        max-height: 560px !important;
        max-width: 3000px;
        margin-top: -25px;
    }
}

@media (max-width: 375px) {

    .search-results-container1 {
        max-height: 400px !important;
        max-width: 3000px !important;
        margin-top: -30px;
    }
}

@media (max-width: 1670px) {

    #generarBtn2{
        margin-left:95px !important;
        margin-top: 5px !important;
    }

    #generarBtn4{
        margin-left:95px !important;
        margin-top: 5px !important;
    }
}

@media (max-width: 1480px) {
    #generarBtn1 {
        width: 40px !important;
        margin-left: 0px !important;
    }

    #generarBtn2{
        margin-left:95px !important;
        margin-top: 5px !important;
    }

    #marcarTodo{
        width: 40px !important;
        margin-left: 0px !important;
    }

    #buscar{
            width: 40px !important;
    }

    #desmarcarTodo{
        width: 40px !important;
        margin-left: 0px !important;
    }
}

@media (max-width: 768px) {

    #selectDiv{
        width: 0px !important;
    }

    .text-section-Biblioteca {
        max-width: 100%;
    }

    .search-results-container1 {
        max-height: 580px;
        max-width: 3000px;
    }

    #tiempoSeleccionado2 {
        display: none;
    }
    #tiempoSeleccionado3 {
        display: none;
    }

    #prioridadSeleccionada {
        display: none;
    }

    #tiempoSeleccionadoMobile1 {
        display: inline-block !important;
        margin-left: 40px !important;
    }

    #tiempoSeleccionadoMobile2 {
        display: inline-block !important;
        margin-left: 40px !important;
    }

    .check-container {
        position: absolute;
        margin-left: 150px;
        margin-top: 100px;
        top: 0;
        transform: translate(8%, -90%) scale(1.2);
        z-index: 5;
        width: 900px;
        height: auto;
        display: none;
    }

    .semaforoModal2 {
        position: absolute;
        display: block;
        margin-right: 125px;
        margin-top: 45px;
        width: auto;
        background-color: #ffffff;
    }

    .pillBiblioteca {
        font-size: 9px;
    }

    #enlaceBtn2 {
        margin-right: 20px;
        width: 0px;
    }

    .card {
        max-height: 610px !important;
    }

    .cta-section .borrar-container {
        margin-right: 220px;
    }
}