.card {
    max-width: 60em !important;
    max-height: 12em !important;
    flex-direction: row !important;
    background-color: #ffffff !important;
    box-shadow: 4px 5px 13px 2px #7a7d74 !important;
    margin: 3em auto !important;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    font-size: 16px;
    padding: 5px 25px 5px 5px;
    width: 10% !important;
}

select {
    font-family: 'FontAwesome', 'Second Font name'
}


.card-img-custom {
    max-height: 155px !important;
}

.card-text-truncate {
    width: 100%;
    max-width: 500px;
    background-color: #696969;
    border: 0;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
    margin: 1em auto;
    display: flex;
    flex-direction: column;
}

.card.dark {
    color: #fff;
}
.card.card.bg-light-subtle .card-title {
    color: dimgrey;
}

.card img {
    max-width: 25%;
    padding: 0.5em;
    border-radius: 0.7em;
}
.card-body {
    display: flex !important;
    justify-content: space-between !important;
}
.text-section {
    max-width: 75%;
}
.cta-section {
    max-width: 40% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-end !important;
    justify-content: space-between !important;
}
.cta-section .btn {
    padding: 0.3em 0.5em;
    /* color: #696969; */
}
.card.bg-light-subtle .cta-section .btn {
    background-color: #898989;
    border-color: #898989;
}

.search-results-container {
    max-height: 700px;
    max-width: 3000px;
    overflow-y: auto;
}


#loading-spinner {
}

.popup-message {

}
@media (max-width: 768px) {
    .card {
        max-width: 100% !important;
        max-height: 510px !important;
        flex-direction: column !important;
        margin: 1em auto !important;
    }

    .card img {
        max-width: 100% !important;
        padding: 0.5em !important;
        border-radius: 0.7em !important;
    }

    .card-body {
        flex-direction: column !important;
    }

    .text-section {
        max-width: 100%;
    }

    .cta-section {
        max-width: 100% !important;


    }

    .cta-section .btn {
        width: 20%;



    }

    #buscar {
        width: 40px !important;
        margin-left: 20px !important;
    }

    #buscador {
        width: 90px !important;
        margin-left: 20px !important;
    }

    #tiempoSeleccionado{
        margin-left: 0px !important;
    }

    .search-results-container {
        max-height: 600px;
        max-width: 3000px;
        overflow-y: auto;
    }

}