.card {
    max-width: 62em !important;
    max-height: 16em !important;
    min-height: 12em !important;
    flex-direction: row !important;
    background-color: #ffffff !important;
    box-shadow: 4px 5px 13px 2px #7a7d74 !important;
    margin: 2.3em auto !important;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    font-size: 16px;
    padding: 5px 25px 5px 5px;
    width: 10% !important;
}

#loading-spinner2 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#caja-sugerencia {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    margin-left: 258px;
    width: 63%;
    z-index: 1;
}

select#tiempoSeleccionado {
    width: 90px;
}

select#tiempoSeleccionado option[value="ultimaHora"]:checked {
    width: 100px !important;
}

select#tiempoSeleccionado option[value="ultimoDia"]:checked {
    width: 150px;
}

select#tiempoSeleccionado option[value="ultimaSemana"]:checked {
    width: 200px;
}

select#tiempoSeleccionado option[value="ultimoMes"]:checked {
    width: 250px;
}

select#tiempoSeleccionado option[value="ultimoAno"]:checked {
    width: 300px;
}

.sugerencia {
    padding: 8px;
    cursor: pointer;
}

.pagination {
    margin-top: 20px;
}

.page-item {
    margin-right: 15px;
}

.page-link {
    padding: 8px 16px;
    border-radius: 20px;
    color: #000000 !important;
    background-color: #fff;
    border: 1px solid #ddd;
    font-weight: bold;
}

.page-item:first-child .page-link:hover {
    background-color: #cfae6d !important;
    color: #000000 !important;
}

.page-item:last-child .page-link:hover {
    background-color: #cfae6d !important;
    color: #000000 !important;
}

.page-item:first-child .page-link {
    background-color: #242f5e !important;
    color:#fff !important;
}

.page-item:last-child .page-link {
    background-color: #242f5e !important;
    color:#fff !important;
}

.page-link:focus {
    outline: none;
}

.page-item.active .page-link {
    background-color: #cfae6d;
    border-color: #dac291;
    color: #fff;
}

.page-link:hover {
    background-color: #242f5e !important;
    color:#fff !important;
}

.sugerencia:last-child {
    border-bottom: none;
}

.sugerencia:hover {
    background-color: #f0f0f0;
}

select {
    font-family: 'FontAwesome', 'Second Font name'
}

.card.dark {
    color: #fff;
}

.card.card.bg-light-subtle .card-title {
    color: dimgrey;
}

#pillsMobile-container {
    display: none;
}

.card img {
    max-width: 28%;
    max-height: 13em !important;
    padding: 0.5em;
    border-radius: 0.7em;
}

.card-body {
    display: flex !important;
    justify-content: space-between !important;
}

.text-section {
    max-width: 75%;
}

.cta-section {
    max-width: 40% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-end !important;
    justify-content: space-between !important;
    margin-top: 10px;
    margin-right: 10px;
}

.cta-section .btn {
    padding: 0.3em 0.5em;
    /* color: #696969; */
}

.card.bg-light-subtle .cta-section .btn {
    background-color: #898989;
    border-color: #898989;
}

.search-results-container {
    max-height: 700px;
    max-width: 3000px;
    overflow-y: auto;
    margin-top: 5px;
    overflow-x: hidden;
}
.image-overlay {
    position: relative;
    display: inline-block;
}

.imagen-hover-container {
    position: absolute;
    margin-left: 550px;
    top: 0;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 900px;
    height: auto;
    display: none;
}

.imagen-hover {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 100px;
}

.popup-message {

}

.search-container {
    display: flex;
    align-items: center;
    width: 1200px;
    max-height: 38px !important;
    margin: 0 auto;
    border-radius: 6px !important;
    border: 1px solid #1c2858;
    transition: max-height 0.3s, max-width 0.3s;
}

#search-input {
    border: none;
    padding: 6px;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    flex: 1;

}

#search-input:empty::before {
    content: attr(data-placeholder);
    color: #aaa;
}

.pill-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-left: 4px;

}

.pill-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-left: 4px;

}

.pill {
    color: #fff;
    border-radius: 20px;
    padding: 3px 10px;
    cursor: pointer;
}

.pill {
    background-color: #1c2858;
}

.pill:nth-child(1) {
    background-color: #1c2858;
}

.pill:nth-child(2) {
    background-color: #cdab68;
}

.pill:nth-child(3) {
    background-color: #1c2858;
}

.pill:nth-child(4) {
    background-color: #cdab68;
}

.pill:nth-child(5) {
    background-color: #1c2858;
}

.pill:nth-child(6) {
    background-color: #cdab68;
}

.traffic-light {
    position: absolute;
    display: block;
    margin-top: 30px;
    background-color: #ffffff;
    width: 75px;
    height: 25px;
    border-radius: 100px;
}

.traffic-light > input {
    appearance: none;
    user-select: none;
    outline: none;
    width: 10px;
    height: 10px;
    margin-top: 25px;
    margin-left: 9px !important;
    border-radius: 100%;
}

.semaforoModal {
    display: block;
    background-color: #ffffff;
    width: 75px;
    height: 25px;
    border-radius: 100px;
}

.semaforoModal > input {
    appearance: none;
    user-select: none;
    outline: none;
    width: 10px;
    height: 10px;
    margin-left: 9px !important;
    border-radius: 100%;
}

input.Alta {
    background-color: #b81d13;
    box-shadow: 0em 0px 0px 5px #b81d13;
}

input.Alta:hover {
    background-color: #fc625d;
    box-shadow: 0em 0px 0px 5px #fc625d;
}

input.Alta:checked {
    background-color: #b81d13;
    box-shadow: 0em 0px 0px 5px #b81d13;
}

input.Media {
    background-color: #efb700;
    box-shadow: 0em 0px 0px 5px #efb700;
}

input.Media:hover {
    background-color: #ffe200;
    box-shadow: 0em 0px 0px 5px #ffe200;
}

input.Media:checked {
    background-color: #efb700;
    box-shadow: 0em 0px 0px 5px #efb700;
}

input.Baja {
    background-color: #008450;
    box-shadow: 0em 0px 0px 5px #008450;
}

input.Baja:hover {
    background-color: #24d73e;
    box-shadow: 0em 0px 0px 5px #24d73e;
}

input.Baja:checked {
    background-color: #008450;
    box-shadow: 0em 0px 0px 5px #008450;
}

input.AltaModal {
    background-color: #c9c9c9;
    box-shadow: 0em 0px 0px 5px #c9c9c9;
}

input.AltaModal:hover {
    background-color: #fc625d;
    box-shadow: 0em 0px 0px 5px #fc625d;
}

input.AltaModal:checked {
    background-color: #fc625d;
    box-shadow: 0em 0px 0px 5px #fc625d;
}

input.MediaModal {
    background-color: #c9c9c9;
    box-shadow: 0em 0px 0px 5px #c9c9c9;
}

input.MediaModal:hover {
    background-color: #ffe200;
    box-shadow: 0em 0px 0px 5px #ffe200;
}

input.MediaModal:checked {
    background-color: #ffe200;
    box-shadow: 0em 0px 0px 5px #ffe200;
}

input.BajaModal {
    background-color: #c9c9c9;
    box-shadow: 0em 0px 0px 5px #c9c9c9;
}

input.BajaModal:hover {
    background-color: #24d73e;
    box-shadow: 0em 0px 0px 5px #24d73e;
}

input.BajaModal:checked {
    background-color: #34cb4a;
    box-shadow: 0em 0px 0px 5px #34cb4a;
}

* {
    user-select: none;
    outline: none;
}


.close-icon {
    margin-left: 4px;
    cursor: pointer;
}

@media (max-width: 1669px) {
    .search-container {
        max-height: 600px;
        max-width: 520px !important;
        overflow-y: auto;
    }

}

@media (max-width: 1110px) {
    .search-container {
        max-height: 600px;
        max-width: 420px !important;
        overflow-y: auto;
    }
}

@media (max-width: 996px) {
    .search-container {
        max-height: 600px;
        max-width: 220px !important;
        overflow-y: auto;
    }

    #pillsMobile-container {
        display: block;
        display: flex;
    }

    .pill {
        font-size: 15px;
    }

    #pills-container {
        display: none;
    }
}

@media (max-width: 768px) {
    .card {
        max-width: 100% !important;
        max-height: 510px !important;
        flex-direction: column !important;
        margin: 1em auto !important;
    }

    #tituloBusqueda {
        font-size: 14px !important;
    }

    #caja-sugerencia {
        margin-left: 40px;

    }

    .traffic-light {
        position: absolute;
        display: block;
        margin-right: 108px;
        margin-top: 30px;
        background-color: #ffffff;

    }

    #pillsMobile-container {
        display: block;
        display: flex;
    }

    .pill {
        font-size: 15px;
    }

    #pills-container {
        display: none;
    }

    #enlaceBtn {
        margin-bottom: 10px;
        width: 0px;
    }

    .card img {
        max-width: 100% !important;
        max-height: 150px !important;
        padding: 0.5em !important;
        border-radius: 0.7em !important;
    }

    .card-body {
        flex-direction: column !important;
    }

    .text-section {
        max-width: 100%;
    }

    .cta-section {
        max-width: 100% !important;


    }

    .cta-section .btn {
        width: 20%;


    }

    #buscar {
        width: 40px !important;
        margin-left: 20px !important;
    }

    #buscador {
        width: 90px !important;
        margin-left: 20px !important;
    }


    #tiempoSeleccionado {
        margin-left: 0px !important;
        margin-right: 10px !important;
    }

    .search-results-container {
        max-height: 580px;
        max-width: 3000px;
    }

    .search-container {
        max-height: 600px;
        max-width: 150px !important;
        overflow-y: hidden;
    }

    select#tiempoSeleccionado {
        max-width: 83px;
    }
    .select-container {
        width: 84px !important;
        margin-right: 0px !important;
    }
}

@media (max-width: 385px) {
    #buscar {
        margin-left: 10px !important;
    }
    .search-results-container {
        max-height: 520px !important;
        max-width: 3000px !important;
    }
}

@media (max-width: 375px) {

    .search-results-container {
        max-height: 400px !important;
        max-width: 3000px !important;
        margin-top: -10px;
    }
}


@media (max-width: 395px) {
    .normal-select {
        width: 90px !important;
        margin-right: 10px !important;
    }

    .search-results-container {
        max-height: 580px ;
        max-width: 3000px ;
    }

}
