.modal-error {
    /* Otras propiedades CSS existentes */
    color: #636363;
    width: 325px;
    position: fixed;
    top: 40%;
    font-size: 14px;
}

.modal-error .modal-content {
    padding: 35px;
    border-radius: 5px;
    border: none;
}
.modal-error .modal-header {
    border-bottom: none;
    position: relative;
}
.modal-error h4 {
    text-align: center;
    font-size: 35px;
    margin: 30px 0 -15px;
}
.modal-error .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}

.modal-error .close {
    position: absolute;
    top: -5px;
    right: -5px;
}
.modal-error .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
}
.modal-error .icon-box {
    color: #fff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #dc3545;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-error .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
}
.modal-error.modal-dialog {
    margin-top: 20px;
}
.modal-error.btn {
    color: beige;
    border-radius: 4px;
    background: #dc3545;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
    margin-top: 10px;
}
.modal-error .btn:hover, .modal-error .btn:focus {
    background: #dc3545;
    outline: none;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

.modal-error .btn {
    color: white;
    border-radius: 4px;
    background: #000000;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
    margin-top: 10px;
}
