.form-check-input.unchecked:not(:checked) {
    background-color: #ffffff;
    border-color: #000000;
    background-image: url('data:image/svg+xml,<svg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'-4 -4 8 8\'><circle r=\'3\' fill=\'%23ff1100\'/></svg>') !important;
}

.form-check-input.green-bg {
    background-image: url('data:image/svg+xml,<svg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'-4 -4 8 8\'><circle r=\'3\' fill=\'%2384bd00\'/></svg>') !important;
}

.form-check-input.yellow-bg {
    background-image: url('data:image/svg+xml,<svg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'-4 -4 8 8\'><circle r=\'3\' fill=\'%23fed141\'/></svg>') !important;
}

.form-check-input.blue-bg {
    background-image: url('data:image/svg+xml,<svg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'-4 -4 8 8\'><circle r=\'3\' fill=\'%23004976\'/></svg>') !important;
}

.highlight {
    background-color: #a6d8ef;;

}

.popup-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 10px;
    border: 2px solid #ff0019;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: all 0.3s ease;
    color: #000000;
    border-radius: 5px;
}

.popup-message i {
    margin-right: 5px;
}

.popup-message.show {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

.popup-message.hide {
    opacity: 0;
    pointer-events: none;
}

#menu {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
}

.fontAwesome {
    font-family: Helvetica, 'FontAwesome', sans-serif;
}

.imagen {
    width: 200px;
    height: 150px;
    margin: 10px;
}


.table th, .table td {
    font-size: 18px;
    height: 60px;
    padding: 8px;
}

.table td.large {
    width: 70%;
}

.table td.empty {
    width: 15%;
}

.table td.empty2 {

    padding-right: 10px;
    width: auto;
}

.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-switch {
    transform: scale(1.5);
    width: 10px;
    display: inline-block;
    vertical-align: middle;
}

.btn.btn-custom-outline-success .font-weight-bold {
    font-weight: bold;
    font-size: 24px;
}

.btn.btn-custom-outline-success:hover {
    color: #ffffff;
    background-color: #84bd00;
    border-color: #84bd00;
}

.btn.btn-custom-outline-success {
    color: #84bd00;
    border-color: #84bd00;
    width: 120px;
}

.btn.btn-custom-outline-success2 {
    color: #84bd00;
    border-color: #84bd00;
    width: 60px;
}


.btn.btn-custom-outline-success.btn-outline-success {
    border-color: #84bd00;
}


#flexSwitchCheckDefault:not(:checked) + label {
    background-color: #FF0000;
}


.number {
    width: 40px;
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

tr.disabled-row {
    background-color: #f2f2f2;
    color: #888;
}

@media (max-width: 1480px) {
    header ul li a {
        text-decoration: none;
        padding: 5px 50px;
        color: #000000;
        border-radius: 20px;
        font-size: 0.68em;
        transition: all 0.3s ease;
    }

    .table td.empty {
        width: 70%;
    }

    #logonav img {
        width: 185px;
        height: auto;
        margin-right: 10px !important;
    }

    #agregar {
        width: 40px !important;
    }

    #buscar {
        width: 40px !important;
        margin-left: 20px !important;
    }

    #buscador {
        width: 90px !important;
        margin-left: 20px !important;
    }

    .texto-agregar {
        display: none;
    }
}