body {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
img.logo{
    width: 100px;
    height: auto;
}

img.filler{
    width: 500px;
    height: auto;
}

img.flag{
    width: 100px;
    height: auto;
}



header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 100px;
}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15rem;
}
header ul li
{
    list-style: none;
    margin-left: 10px;
}
header ul li a
{
    text-decoration: none;
    padding: 18px 115px;
    color: #000000;
    border-radius: 20px;

}
header ul li a:hover ,
header ul li a.active
{
    background: #FED141;
    color: #2b1055;
}
