



img.logo{
    width: 100px;
    height: auto;
}

img.filler{
    width: 500px;
    height: auto;
}

img.flag{
    width: 100px;
    height: auto;
}

.linea-azul {
    position: fixed;
    top: 71%;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #006ba6, transparent);
    transform: rotate(45deg);
    transform-origin: top left;
    z-index: -1;
}
.linea-amarilla {
    position: fixed;
    top: 79%;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #fed141, transparent);
    transform: rotate(45deg);
    transform-origin: top left;
    z-index: -1;
}
.linea-verde {
    position: fixed;
    top: 75%;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #84bd00, transparent);
    transform: rotate(45deg);
    transform-origin: top left;
    z-index: -1;
}



header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 100px;
}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15rem;
}
header ul li
{
    list-style: none;
    margin-left: 10px;
}
header ul li a
{
    text-decoration: none;
    padding: 18px 115px;
    color: #000000;
    border-radius: 20px;

}

#Busqueda.active {
    background: #006ba6;
    font-weight: bold;
    color: #ffffff;
}


#Busqueda:hover {
    background: #006ba6;
    font-size: 1.6em;
    color: #ffffff;

}


#Etiquetas.active {
    background: #fed141;
    font-weight: bold;
    color: #ffffff;

}

#Etiquetas:hover {
    background: #fed141;
    font-size: 1.6em;
    color: #ffffff;

}


#Biblioteca.active {
    background: #84bd00;
    font-weight: bold;
    color: #ffffff;

}


#Biblioteca:hover {
    background: #84bd00;
    font-size: 1.6em;
    color: #ffffff;

}

@media (max-width: 768px) {
    #footer{
        font-size: 0.7em !important;
    }
}