
img.logo {
    width: 100px;
    height: auto;
}

img.filler {
    width: 500px;
    height: auto;
}

img.flag {
    width: 100px;
    height: auto;
}

.linea-azul {
    position: fixed;
    top: 71%;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #1c2858, transparent);
    transform: rotate(45deg);
    transform-origin: top left;
    z-index: -1;
}

.linea-amarilla {
    position: fixed;
    top: 79%;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #1c2858, transparent);
    transform: rotate(45deg);
    transform-origin: top left;
    z-index: -1;
}

.linea-verde {
    position: fixed;
    top: 75%;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #cdab68, transparent);
    transform: rotate(45deg);
    transform-origin: top left;
    z-index: -1;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 100px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15rem;
}

header ul li {
    list-style: none;
    margin-left: 10px;
}

header ul li a {
    text-decoration: none;
    padding: 18px 115px;
    color: #000000;
    border-radius: 20px;

}

#Busqueda.active {
    background: #1c2858;
    font-weight: bold;
    color: #ffffff;
}

#menu {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    max-height: 600px;
    min-height: 100px;
}

#Busqueda:hover {
    background: #1c2858;
    font-size: 1.6em;
    color: #ffffff;

}

#Etiquetas.active {
    background: #ceab69;
    font-weight: bold;
    color: #ffffff;

}

#Etiquetas:hover {
    background: #ceab69;
    font-size: 1.6em;
    color: #ffffff;

}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #0000004d;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.dropbtn {
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: fixed !important;
    right: 50px;
    top: 20px;
    display: inline-block;
    background-color: #1c2858;
    padding: 8px;
    border-radius: 100px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 10px;
    border-radius: 50px;
}

.containerLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.screen {
    background: linear-gradient(90deg, #cdaa69, #1c2858);
    position: relative;
    height: 600px;
    width: 360px;
    box-shadow: 0px 0px 24px #000000;
}

.screen__content {
    z-index: 1;
    position: relative;
    height: 100%;
}

.screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

.screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
}

.screen__background__shape1 {
    height: 520px;
    width: 520px;
    background: #FFF;
    top: -50px;
    right: 120px;
    border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
    height: 220px;
    width: 220px;
    background: #32385a;
    top: -172px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape3 {
    height: 540px;
    width: 190px;
    background: linear-gradient(270deg, #1c2858, #ceab69);
    top: -24px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape4 {
    height: 400px;
    width: 200px;
    background: #1c2858;
    top: 420px;
    right: 50px;
    border-radius: 60px;
}

.login {
    width: 320px;
    padding: 30px;
    padding-top: 156px;
}

.login__field {
    padding: 20px 0px;
    position: relative;
}

.login__icon {
    position: absolute;
    top: 30px;
    color: #1c2858;
}

.login__input {
    border: none;
    border-bottom: 2px solid #1c2858;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    border-bottom-color: #b59967;
}

.login__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #1c2858;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #1c2858;
    box-shadow: 0px 2px 2px #ceab69;
    cursor: pointer;
    transition: .2s;
}

.social-login {
    position: absolute;
    height: 140px;
    width: 160px;
    text-align: center;
    bottom: 0px;
    right: 0px;
    color: #fff;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-login__icon {
    font-size: 10px;
    padding: 20px 10px;
    color: #fff;
    text-decoration: none;
}

.social-login__icon:hover {
    color: #ceab69;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
    border-color: #9c8a77;
    outline: none;
}

.button__icon {
    font-size: 24px;
    margin-left: auto;
    color: #1c2858;
}

#login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 50px;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}


::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 8px #1c2858;
    background-color: #1c2858;
}

::-webkit-scrollbar-thumb:hover {
    background: #cdab68;
    -webkit-box-shadow: inset 0 0 8px #cdab68;
}

#Biblioteca.active {
    background: #1c2858;
    font-weight: bold;
    color: #ffffff;

}

#Biblioteca:hover {
    background: #1c2858;
    font-size: 1.6em;
    color: #ffffff;

}

body {
    position: relative;
    padding-bottom: 5em;
    min-height: 200vh;
}

footer {
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    #footer {
        font-size: 0.7em !important;
    }

    ::-webkit-scrollbar {
        width: 0;
    }
}

@media (max-width: 732px) {
    #menu {
        max-width: 10px;
    }

}

.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #282d32;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}

@media (max-width: 767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width: 767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width: 991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.footer-dark .item.social > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.footer-dark .item.social > a:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}

.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: #CCC;
    border: 1px solid #CCC;
    padding: 8px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}

.box {
    display: none;
    width: 100%;
}

a:hover + .box, .box:hover {
    display: inline-block;
    position: relative;
    z-index: 100;
}

.anchor_preview {
    color: black;
}

