/*body::before {
    content: "";
    position: fixed;
    top: 710px;
    left: 0px;
    width: 100%;
    height: 12px;
    background: linear-gradient(to right, #84bd00, transparent);
    transform: rotate(45deg);
    transform-origin: top left;
}

body::after {
    content: "";
    position: fixed;
    top: 77.6%;
    left: 0;
    width: 70%;
    height: 12px;
    background: linear-gradient(to right, #fed141, transparent);
    transform: rotate(45deg);
    transform-origin: top left;
}

.blue-line {
    position: fixed;
    top: 76.5%;
    left: 0;
    width: 100%;
    height: 12px;
    background: linear-gradient(to right, #006ba6, transparent);
    transform: rotate(45deg);
    transform-origin: top left;
    z-index: 1;
}
*/



img.logo{
    width: 100px;
    height: auto;
}

img.filler{
    width: 500px;
    height: auto;
}

img.flag{
    width: 100px;
    height: auto;
}

header{
    width: 100%;
    height: 100%;
    background-color: darkslategray;
    align-items: center;
}

header .logo
{
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 100px;
}

header ul
{

    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15rem;
}

header ul li
{
    list-style: none;
    margin-left: 10px;
    font-size: x-large;
}
header ul li a
{
    text-decoration: none;
    padding: 18px 115px;
    color: #000000;
    border-radius: 20px;
}
header ul li a:hover ,

header ul li a.active
{
    background: #20B2AA;
    color: #2b1055;
}



.col_white_amrc { color:#FFF;}

footer {
    width:100%;
    height: 100%;
    background-color:#263238;
    min-height:250px;
    padding:10px 0px 25px 0px ;
    text-align: center;
}

.pt2 { padding-top:40px ; margin-bottom: 20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px; }
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:10px;}
.foote_bottom_ul_amrc {
    list-style-type:none;
    padding:0px;
    display:table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

